<h1>Entries written by <%= @user.first_name %>:</h1>

<% @user.articles.each do |article| %>
	<div>
		<h2><%= link_to article.title, "/users/#{@user.id}/articles/#{article.id}" %></h2>
	</div>
<% end %>